Package: com.rpetrich.swipeback
Name: SwipeBack
Depends: firmware (>= 4.0), mobilesubstrate, applist (>= 1.4.3), preferenceloader (>= 2)
Version: 1.0.2
Architecture: iphoneos-arm
Description: swipe from edges to navigate app UI
Maintainer: thebigboss.org <http://thebigboss.org>
Author: Ryan Petrich <rpetrich+swipeback@gmail.com>
Section: Tweaks
Tag: purpose::extension
Installed-Size: 31
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=swipebackDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=swipebackDp
dev: rpetrich
Icon: file:///Library/PreferenceLoader/Preferences/SwipeBack@2x.png
